/* src/pages/HomePage.css */
.home-content {
    position: relative;
  }
  
  .section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .section {
    flex: 1;
    width: 100%;
  }
  
  .section-1 {
    background-color: lightblue;
  }
  
  .section-2 {
    background-color: lightcoral;
  }

  .pattern-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .pattern-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .overlay-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, -50%);
    /* filter: invert(1); */
    /* mix-blend-mode: difference; */
    pointer-events: none;
  }
  
  